URxvt.scrollBar: false
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.autohint:   true 
Xft.lcdfilter:  lcddefault

! Using XLFD (created via e.g. xfontsel)
!URxvt*font:           -misc-fixed-medium-r-semicondensed-*-12-90-100-*-c-60-iso8859-1
! Using Xft
URxvt*font:           xft:Inconsolata:size=9

!-*- Perl extensions -*-
URxvt.perl-ext-common: default,selection-to-clipboard,pasta,matcher,keyboard-select
URxvt.keysym.M-u:     perl:url-select:select_next
URxvt.url-launcher:   /usr/bin/firefox
URxvt.underlineURLs:  True
URxvt.matcher.button: 1 
URxvt.keysym.M-Escape:perl:keyboard-select:activate
URxvt.keysym.Control-Shift-V:     perl:pasta:paste
! Comment this if you dont want copy when text is selected
URxvt.clipboard.autocopy: true

! nichijou colours
! special
*.foreground:   #ffffff
*.background:   #121212
*.cursorColor:  #ffffff

! black
*.color0:       #232323
*.color8:       #343434

! red
*.color1:       #994444
*.color9:       #bc6767

! green
*.color2:       #668866
*.color10:      #89a589

! yellow
*.color3:       #eebb66
*.color11:      #ffd693

! blue
*.color4:       #446c88
*.color12:      #698aa1

! magenta
*.color5:       #ee7777
*.color13:      #ffa6a6

! cyan
*.color6:       #468b8b
*.color14:      #6faaaa

! white
*.color7:       #dddddd
*.color15:      #efefef
